// color palette: https://colorpalettes.net/color-palette-4284/
$cinnamon: #bc6d4c;
$red-dark: #7e0f12;
$red-light: #b71a3b;
$green-light: #6a7045;
$green-dark: #313c33;

$primary: $red-light;
$link: $red-light;